<div class="main">
	<form>
	  <div class="form-group">
	    <label for="new_category_title">Новый жанр</label>
	    <input type="text" class="form-control" id="new_category_title" placeholder="Введите название жанра">
	  </div>
	  <button type="submit" id="add-new-category-submit" class="btn btn-default">Добавить</button>
	</form>
	<div class="row">
	  <div class="col-md-6">
	  	<h2>Жанр</h2>
		<table id="category-content" class="table table-hover">

		</table>
	  </div>
	  <div class="col-md-6">
	  	<h2>Категория</h2>
		<table id="type-content" class="table table-hover">

		</table>
	  </div>
	</div>
</div>
<div class="sidebar"></div>