<select id="rate-selector">
        <% categories.each(function(category) { %>
            <option value="<%= category.get('name') %>" <%= category.get('name')==labelSelected?"selected" : "" %>><%= category.get('name') %></option>
        <% }); %>
</select>


