
body {
  background: #ebebeb;
}

#container {
  width: 960px;
  margin: auto;
  min-height: 500px;
  background: #fff;
}
#menu {
  background: #444;
  height: 30px; color: #fff; text-align: right;
}
#menu ul {
  list-style: none;
  margin: 0; padding: 0;
}
#menu ul li {
  float: left;
  margin-left: 10px;
}
#menu ul li a {
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}
#menu ul li a:hover {
  color: #ccc;
}

#logo {
   padding: 20px;
}
h1{
  padding: 0;
  margin: 0;
}

 

 .hidden-file-select
{
   display:block;
    height:0;
    width:0;
}

