html,body {
    margin: 0;
    padding: 0;
}
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #eeeeee /*url('../images/bg.png')*/;
    color: #4d4d4d;
    /*width: 550px;*/
    margin: 100 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.hidden-file-select
{
   display:block;
    height:0;
    width:0;
}


