<form class="form-horizontal">
    <div class="form-group">
      <label for="new-book-title" class="col-sm-2 control-label">Название</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-title" placeholder="Война и мир">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-author" class="col-sm-2 control-label">Автор</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-author" placeholder="Александр Сергеевичь Пушкин">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-year" class="col-sm-2 control-label">Год издания</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-year" placeholder="1900">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-description" class="col-sm-2 control-label">Описание</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="new-book-description" rows="3" placeholder="Описание ..."></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-genre" class="col-sm-2 control-label">Жанр</label>
      <div class="col-sm-10">
        <select class="form-control" id="new-book-genre">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-theme" class="col-sm-2 control-label">Тема</label>
      <div class="col-sm-10">
        <select class="form-control" id="new-book-theme">
          <option>Без темы</option>
          <option>Тема 1</option>
          <option>Тема 2</option>
          <option>Тема 3</option>
          <option>Тема 4</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-price" class="col-sm-2 control-label">Стоимость</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-price" placeholder="100р">
      </div>
    </div>

    <div class="form-group">
      <label for="new-book-rotation" class="col-sm-2 control-label">Ротация</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-rotation" placeholder="5">
      </div>

      <div class="form-group">
        <label for="new-book-epub-fileselect" class="col-sm-2 control-label">Укажите файл книги (.epub)</label>
        <div class="col-sm-10">
          <input type="file" name="new-book-epub-fileselect" data-pancakes="epub-file" id="new-book-epub-fileselect"></input>
          <label id="new-epub-file-name"></label>
        </div>
        <div class="col-sm-10">
          <input id="new-book-epub-uploadbutton" data-pancakes="epub-file" type="button" value="Загрузить на сервер" />
        </div> 
      </div>

      <div class="form-group">
        <label for="new-book-rotation-fileselect" class="col-sm-2 control-label">Укажите рекламное изображение</label>
        <div class="col-sm-10">
          <input type="file" name="new-book-rotation-fileselect" class="hidden-file-select" data-pancakes="baner-file" id="new-book-rotation-fileselect"></input>
          <img src="images/click-to-load.jpg" alt="Нажмите для выбора картинки" class="img-thumbnail" height="128" width="128" data-pancakes="baner-file" id="new-book-rotation-img">
        </div>

        <div class="col-sm-10">
          <input id="new-book-rotation-uploadbutton" data-pancakes="baner-file" type="button" value="Загрузить на сервер" />
        </div> 
    </div>

    <div class="form-group">

      
<div class="form-group">
      <div class="row">
        <div class="col-md-3"><label for="new-cover-fileselect" class="col-sm-2 control-label">Укажите изображение для обложки</label>
        </div>

        <div class="col-md-2">
               <div class="col-xs-9">Cover</div>
                <input type="file" name="new-cover-fileselect" data-pancakes="cover-img" class="hidden-file-select"  id="new-cover-fileselect"></input>
                <img src="images/click-to-load.jpg" alt="Нажмите для выбора картинки" class="img-thumbnail" height="128" width="128" data-pancakes="cover-img" id="new-book-cover-img">                
        </div>
        <div class="col-md-2">
               <div class="col-xs-9">mdpi</div>
                <input type="file" name="new-book-cover-mdpi" data-pancakes="cover-mdpi" class="hidden-file-select"  id="new-cover-mdpi-fileselect"></input>
                <img src="images/click-to-load.jpg" alt="Нажмите для выбора картинки" class="img-thumbnail" height="128" width="128" data-pancakes="cover-mdpi" id="new-book-cover-img-mdpi">                
        </div>
        <div class="col-md-2">
               <div class="col-xs-9">hdpi</div>
                <input type="file" name="new-book-cover-hdpi" data-pancakes="cover-hdpi" class="hidden-file-select"  id="new-cover-hdpi-fileselect"></input>
                <img src="images/click-to-load.jpg" alt="Нажмите для выбора картинки" class="img-thumbnail" height="170" width="170" data-pancakes="cover-hdpi" id="new-book-cover-img-hdpi">                
        </div>
          <div class="col-md-2">
               <div class="col-xs-9">xhdpi</div>
                <input type="file" name="new-book-cover-xhdpi" data-pancakes="cover-xhdpi" class="hidden-file-select"  id="new-cover-xhdpi-fileselect"></input>
                <img src="images/click-to-load.jpg" alt="Нажмите для выбора картинки" class="img-thumbnail" height="200" width="200" data-pancakes="cover-xhdpi" id="new-book-cover-img-xhdpi">                
        </div>
        <div class="col-md-2">
               <div class="col-xs-9">xxhdpi</div>
                <input type="file" name="new-book-cover-xxhdpi" data-pancakes="cover-xxhdpi" class="hidden-file-select"  id="new-cover-xxhdpi-fileselect"></input>
                <img src="images/click-to-load.jpg" alt="Нажмите для выбора картинки" class="img-thumbnail" height="256" width="256" data-pancakes="cover-xxhdpi" id="new-book-cover-img-xxhdpi">                
        </div>
      </div>

    </div>


      <div class="col-sm-10">


      </div>

      <div class="col-sm-10">
        <input id="new-book-cover-uploadbutton" data-pancakes="cover" type="button" value="Загрузить на сервер"/>
      </div> 
    </div>
    <div class="form-group">
      <label for="new-book-paper" class="col-sm-2 control-label">Печатная версия</label>
      <div class="col-sm-10">
        <input type="checkbox" id="new-book-paper">
      </div>
    </div>


    <div class="form-group">
      <label for="new-book-paper-price" class="col-sm-2 control-label">Стоимость печатной версии</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-paper-price" placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-weight" class="col-sm-2 control-label">Вес книги</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-weight" placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-art-pack" class="col-sm-2 control-label">Графический пак</label>
      <div class="col-sm-10">
        <input type="checkbox" id="new-book-art-pack">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-art-price" class="col-sm-2 control-label">Стоимость графического покета</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-art-price" placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-audio-pack" class="col-sm-2 control-label">Аудио пак</label>
      <div class="col-sm-10">
        <input type="checkbox" id="new-book-audio-pack">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-audio-pack-price" class="col-sm-2 control-label">Стоимость аудио покета</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-audio-pack-price" placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-video-pack" class="col-sm-2 control-label">Видео пак</label>
      <div class="col-sm-10">
        <input type="checkbox" id="new-book-video-pack">
      </div>
    </div>
    <div class="form-group">
      <label for="new-book-video-pack-price" class="col-sm-2 control-label">Стоимость видео покета</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="new-book-video-pack-price" placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="submit-add-book btn btn-default" >Добавить книгу</button>
      </div>
    </div>
  </form>