  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th> 
          <th>Название</th>
          <th>Автор</th> 
          <th>Год</th>
          <th>Описание</th>
          <th>Стоимость</th>
          <th>Обложка</th>
          <th>Ротации</th>
          <th>Бумага</th>
          <th>Пакет изображений</th>
          <th>Аудио пакет</th>
          <th>Видео пакет</th>
          <th>Действия</th>
      </tr>
    </thead>
    <tbody id="book-content">
    </tbody>
  </table>