<th scope="row"></th>
<td><%= title %></td>
<td><%= author %></td>
<td><%= year %></td>
<td><%= description %></td>
<td><%= price %></td>
<td><img src="<%= cover ? cover.url : '' %>" alt="cover" class="img-thumbnail"></td>
<td><span class="glyphicon <%= rotation ? 'glyphicon-ok' : 'glyphicon-remove' %>" aria-hidden="true"></span></td>
<td><span class="glyphicon <%= paper ? 'glyphicon-ok' : 'glyphicon-remove' %>" aria-hidden="true"></span></td>
<td><span class="glyphicon <%= art ? 'glyphicon-ok' : 'glyphicon-remove' %>" aria-hidden="true"></span></td>
<td><%= weight %></td>
<td><span class="glyphicon <%= audio ? 'glyphicon-ok' : 'glyphicon-remove' %>" aria-hidden="true"></span></td>
<td><span class="glyphicon <%= video ? 'glyphicon-ok' : 'glyphicon-remove' %>" aria-hidden="true"></span></td>
<td><button type="button" class="btn edit-book btn-primary">Редактировать</button></td>

