<form class="form-horizontal edit-book-form" role="form">
    <div class="form-group">
      <label for="edit-book-title" class="col-sm-2 control-label">Название</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-title" value='<%= title ? title : '' %>' placeholder="Война и мир">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-author" class="col-sm-2 control-label">Автор</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-author" value='<%= author ? author : '' %>' placeholder="Александр Сергеевичь Пушкин">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-year" class="col-sm-2 control-label">Год издания</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-year" value='<%= year ? year : '' %>' placeholder="1900">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-description" class="col-sm-2 control-label">Описание</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="edit-book-description" rows="3" placeholder="В Далекой далекой галактике ..."><%= description ? description : '' %></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-genre" class="col-sm-2 control-label">Жанр</label>
      <div class="col-sm-10">
        <select class="form-control" id="edit-book-genre">
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-theme" class="col-sm-2 control-label">Тема</label>
      <div class="col-sm-10">
        <select class="form-control" id="edit-book-theme">
          <option>Без темы</option>
          <option>Тема 1</option>
          <option>Тема 2</option>
          <option>Тема 3</option>
          <option>Тема 4</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="edit-book-price" class="col-sm-2 control-label">Стоимость</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-price" value='<%= price ? price:''%>' placeholder="100р">
      </div>
    </div>

      <div class="form-group">
        <label for="edit-book-rotation" class="col-sm-2 control-label">Ротация</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="edit-book-rotation" value='<%= rotation?rotation:''%>' placeholder="5">
        </div>

        <div class="form-group">
          <label for="edit-book-epub-fileselect" class="col-sm-2 control-label">Укажите файл книги (.epub)</label>
          <div class="col-sm-10">
            <input type="file" name="edit-book-epub-fileselect" data-pancakes="epub-file" id="edit-book-epub-fileselect"></input>
            <label id="edit-epub-file-name"><%= epubFile ? epubFile.name : '' %></label>
          </div>
          <div class="col-sm-10">
            <input id="edit-book-epub-uploadbutton" data-pancakes="epub-file" type="button" value="Загрузить на сервер"/>
          </div> 
      </div>

      <div class="form-group">
        <label for="edit-book-rotation-fileselect" class="col-sm-2 control-label">Укажите рекламное изображение</label>
        <div class="col-sm-10">
          <input type="file" name="edit-book-rotation-fileselect" class="hidden-file-select" data-pancakes="baner-file" id="edit-book-rotation-fileselect"></input>
          <img src="<%= rotationImage ? rotationImage.url : 'images/click-to-load.jpg' %>" alt="Нажмите для выбора картинки" class="img-thumbnail" height="128" width="128" data-pancakes="baner-file" id="edit-book-rotation-img">
        </div>
        <div class="col-sm-10">
          <input id="edit-book-rotation-uploadbutton" data-pancakes="baner-file" type="button" value="Загрузить на сервер"/>
        </div> 
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3"><label for="edit-cover-fileselect" class="col-sm-2 control-label">Укажите изображение для обложки</label>
        </div>

        <div class="col-md-2">
               <div class="col-xs-9">Cover</div>
                <input type="file" name="edit-cover-fileselect" data-pancakes="cover-img" class="hidden-file-select"  id="edit-cover-fileselect"></input>
                <img src="<%= cover ? cover.url : 'images/click-to-load.jpg' %>" alt="Нажмите для выбора картинки" class="img-thumbnail" height="128" width="128" data-pancakes="cover-img" id="edit-book-cover-img">                
        </div>
        <div class="col-md-2">
               <div class="col-xs-9">mdpi</div>
                <input type="file" name="edit-book-cover-mdpi" data-pancakes="cover-mdpi" class="hidden-file-select"  id="edit-cover-mdpi-fileselect"></input>
                <img src="<%= coverMdpi ? coverMdpi.url : 'images/click-to-load.jpg' %>" alt="Нажмите для выбора картинки" class="img-thumbnail" height="128" width="128" data-pancakes="cover-mdpi" id="edit-book-cover-img-mdpi">                
        </div>
        <div class="col-md-2">
               <div class="col-xs-9">hdpi</div>
                <input type="file" name="edit-book-cover-hdpi" data-pancakes="cover-hdpi" class="hidden-file-select"  id="edit-cover-hdpi-fileselect"></input>
                <img src="<%= coverHdpi ? coverHdpi.url : 'images/click-to-load.jpg' %>" alt="Нажмите для выбора картинки" class="img-thumbnail" height="170" width="170" data-pancakes="cover-hdpi" id="edit-book-cover-img-hdpi">                
        </div>
          <div class="col-md-2">
               <div class="col-xs-9">xhdpi</div>
                <input type="file" name="edit-book-cover-xhdpi" data-pancakes="cover-xhdpi" class="hidden-file-select"  id="edit-cover-xhdpi-fileselect"></input>
                <img src="<%= coverXhdpi ? coverXhdpi.url : 'images/click-to-load.jpg' %>" alt="Нажмите для выбора картинки" class="img-thumbnail" height="200" width="200" data-pancakes="cover-xhdpi" id="edit-book-cover-img-xhdpi">                
        </div>
        <div class="col-md-2">
               <div class="col-xs-9">xxhdpi</div>
                <input type="file" name="edit-book-cover-xxhdpi" data-pancakes="cover-xxhdpi" class="hidden-file-select"  id="edit-cover-xxhdpi-fileselect"></input>
                <img src="<%= coverXxhdpi ? coverXxhdpi.url : 'images/click-to-load.jpg' %>" alt="Нажмите для выбора картинки" class="img-thumbnail" height="256" width="256" data-pancakes="cover-xxhdpi" id="edit-book-cover-img-xxhdpi">                
        </div>
      </div>

    </div>


    <div class="col-sm-10">
        <input id="edit-book-cover-uploadbutton" data-pancakes="cover" type="button" value="Загрузить на сервер"/>
      </div> 
    </div>


    <div class="form-group">
      <label for="edit-book-paper" class="col-sm-2 control-label">Печатная версия</label>
      <div class="col-sm-10">
        <input type="checkbox" <%= paper ? 'checked="checked"' : '' %>  id="edit-book-paper">
      </div>
    </div>


    <div class="form-group">
      <label for="edit-book-paper-price" class="col-sm-2 control-label">Стоимость печатной версии</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-paper-price" value='<%= paperPrice ? paperPrice : '' %>' placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-weight" class="col-sm-2 control-label">Вес книги</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-weight" value='<%= weight ? weight : '' %>' placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-art-pack" class="col-sm-2 control-label">Графический пак</label>
      <div class="col-sm-10">
        <input type="checkbox" <%= art ? 'checked="checked"' : '' %>  id="edit-book-art-pack">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-art-price" class="col-sm-2 control-label">Стоимость графического пакета</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-art-price" value='<%= artPrice ? artPrice : '' %>' placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-audio-pack" class="col-sm-2 control-label">Аудио пак</label>
      <div class="col-sm-10">
        <input type="checkbox" <%= audio ? 'checked="checked"' : '' %>  id="edit-book-audio-pack">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-audio-pack-price" class="col-sm-2 control-label">Стоимость аудио пакета</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-audio-pack-price" value='<%= audioPrice ? audioPrice : '' %>' placeholder="100р">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-video-pack" class="col-sm-2 control-label">Видео пак</label>
      <div class="col-sm-10">
        <input type="checkbox" <%= video ? 'checked="checked"' : '' %>  id="edit-book-video-pack">
      </div>
    </div>
    <div class="form-group">
      <label for="edit-book-video-pack-price" class="col-sm-2 control-label">Стоимость видео пакета</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="edit-book-video-pack-price" value='<%= videoPrice ? videoPrice : '' %>' placeholder="100р">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button>Обновить книгу</button>
      </div>
    </div>
  </form>